// добавляет миксины
@import "vendor/mixins.scss";
@import "vendor/variables.scss";
@import "vendor/normalize";

//базовые свойства

@import "vendor/fonts.scss";
@import "vendor/global.scss";

// Vendor

@import "vendor/body";
@import "vendor/header";
@import "vendor/hero";
@import "vendor/tours";
// @import "vendor/";
// @import "vendor/";